%h1 Paintr

#selected-color.swatch

#color-controls
  %input#color-input{type: 'text'}
  %button#add-color Add Color
  %button#clear-color Clear Color
#color-pallette

#image-controls
  %input#image-input{type: 'text'}
  %button#add-image Add Image
  %button#clear-image Clear Image
#image-pallette

#canvas