.paint-dot {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  opacity: 0.5;
}

#canvas {
  margin-top: 25px;
  width: 800px;
  height: 600px;
  border: 3px double black;
  /* Makes background image resize to fill canvas*/
  background-size: cover;
  background-repeat: no-repeat;
}

/*Notice that we use this class for both color and image swatches. Efficient! */
.swatch {
  height: 40px;
  width: 40px;
  border: 1px dashed black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  /* Makes background image resize to fill swatch*/
  background-size: cover;
  background-repeat: no-repeat;
}

